<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
    <style>
      .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
      }
      .footer {
        text-align: center;
      }
      @media (max-width: 767px) {
        .markdown-body {
          padding: 15px;
        }
      }
      @media (prefers-color-scheme: dark) {
        body {
          background-color: #1b262c;
        }
        .markdown-body img {
          background-color: #1b262c;
        }
        .markdown-body {
          color: #e0e0e0;
        }
        .markdown-body blockquote {
          color: #95989a;
          border-left: .25em solid #6d6d6d;
        }
        .markdown-body a {
          color: #6bb4ff;
        }
      }
    </style>
  </head>
  <body>
    <article class="markdown-body">
      <h1>{{ .Name }}</h1>
      {{ range $i, $p := .Posts }}
      {{ if or ( eq $i 0 ) ( $p.IsLastWeek ) }}<h2>{{ $p.PostYear }}</h2>{{ end }}
      <ul>
        <li><a href="{{ $p.Link }}">Week {{ $p.WeekNum }}</a> <small>{{ $p.FromDate }} - {{ $p.ToDate }}</small></li>
      </ul>
      {{ end }}
      <div class="footer">
        <p class="links">
          <a href="https://github.com/matsuyoshi30">GitHub</a> | <a href="https://github.com/matsuyoshi30/til/tree/master/shuho">Source</a>
        </p>
        <p class="copyright">
          <a href="https://matsuyoshi30.net">matsuyoshi30</a>&nbsp;&copy;&nbsp;2020
        </p>
      </div>
    </article>
  </body>
</html>
