<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
    <link rel="stylesheet" href="./static/styles.css">
  </head>
  <body>
    <article class="markdown-body">
      <h1>{{ .Name }}</h1>
      {{ range $i, $p := .Posts }}
      {{ if or ( eq $i 0 ) ( $p.IsLastWeek ) }}<h2>{{ $p.PostYear }}</h2>{{ end }}
      <ul>
        <li><a href="{{ $p.Link }}">Week {{ $p.WeekNum }}</a> <small>{{ $p.FromDate }} - {{ $p.ToDate }}</small></li>
      </ul>
      {{ end }}
    </article>
  </body>
</html>
