<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
    <link rel="stylesheet" href="{{ .CSSPath }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <article class="markdown-body">
      <p><a href="..">Back</a></p>
      <header>
        <h1>Week {{ .WeekNum }} - {{ .PostYear }}</h1>
        {{ if ne .FromDate "" }}
        <p>The weekly report from {{ .FromDate }} to {{ .ToDate }}</p>
        {{ end }}
      </header>
      {{ .Body }}
      <div>
        <ul class="pager">
          {{ if .PrevPost }}
          <li class="previous">
            <a href="../{{ .PrevPost.PostYear }}/{{ .PrevPost.FromDate }}.html">prev</a>
          </li>
          {{ end }}
          {{ if .NextPost }}
          <li class="next">
            <a href="../{{ .NextPost.PostYear }}/{{ .NextPost.FromDate }}.html">next</a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="footer">
        <p class="links">
          <a href="https://github.com/matsuyoshi30/shuho/blob/master/content/{{ .PostYear }}/{{ .FromDate }}.md">Source</a>
        </p>
      </div>
    </article>
  </body>
</html>
