.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: auto;
  padding: 45px;
}
header {
  text-align: center;
}
li {
  margin-top: 0.5em;
}
@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1b262c;
  }
  .markdown-body img {
    background-color: #1b262c;
  }
  .markdown-body {
    color: #e0e0e0;
  }
  .markdown-body blockquote {
    color: #95989a;
    border-left: .25em solid #6d6d6d;
  }
  .markdown-body a {
    color: #6bb4ff;
  }
}
